@import "_bootstrap";
@import "_variables";

@import "_rangeSlider";
@import "_animating";
@import "_sectionWelcome";
@import "_owl";
@import "_bxslider";
@import "_fotorama";


@text-color: #08252c;
@text-hightlight: #e10000;

@link-color: #39b2f4;
@link-hover-color: darken(#39b2f4, 10%);
@link-active-color: #39b2f4;

@import "-responsive";
@import "-common";
@import "-fonts";

@import "-main";

@import "-header";
@import "-footer";
@import "-buttons";
@import "-tables";
@import "-forms";
@import "-search-form";
@import "-map";
@import "-select";


@import "-section-hero";
@import "-section-search";
@import "-section-highlights";
@import "-section-location-description";
@import "-section-items-list";
@import "-section-villas-list";
@import "-villa-list";
@import "-colorbox";
@import "-section-gallery";
@import "-section-contact";
@import "-section-detail";
@import "-section-urban";
@import "-section-home-about";
@import "-section-location-description";


.carousel-inner {
  overflow: visible;
}

.my-parallax {
  background: url("../../images/detail-image-hero.jpg") repeat scroll 0% 0% transparent;
  -webkit-background-size: cover;
  background-size: cover;
}

.parallax-layer {
  position: absolute;
}

.parallax-viewport {
  position: relative; /* relative, absolute, fixed */
  overflow: hidden;

}
#container {
  section {
    pointer-events: auto !important;
  }

}
.container {
  max-width: 100%;
}
button {
  outline: none;
}

.controls {
  @media (min-width: 768px) and (max-width: 991px) {
    width: 100%;
  }
}

.breadcrumbs {
  @media (min-width: 768px) and (max-width: 991px) {
    width: 100%;
  }
}